/*#parent {
    position: relative;
    background-color: black;
    width: 600px;
    height: 300px;
}

.child {
    width: 100px;
    height: 100px;
    background-color: #66320E;
}

#child1 {
    display: inline-block;
}

#child2 {
    display: inline-block;
}

#child3 {
    display: inline-block;
}

#child4 {
    display: inline-block;
}

#child5 {
    display: inline-block;
}

#child6 {
    display: inline-block;
}

#child7 {
    display: inline-block;
}

#child8 {
    display: inline-block;
}

#child9 {
    display: inline-block;
}

#child10 {
    display: inline-block;
}*/