#container {
    background-color: burlywood;
    width: 300px;
    height: 200px;
    border: chocolate;
}

.box {
    display: inline-block;
    width: 50px;
    height: 50px;
}

#first {
    background-color: black;
}

#second {
    background-color: red;
}

.prompt {
    background-color: chartreuse;
}

.button {
    background-color: coral;
}

span {
    font-size: 40px;
}